.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: var(--sub-background);
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 72vw;
  margin-top: 10vh;
  margin-bottom: 20vh;
}

@media (max-width: 1000px) {
  .hero {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 7vh;
    margin-bottom: 10vh;
    width: 90vw;
  }
}

.hero-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-img {
  width: 20vw;
  height: 20vw;
  outline: var(--brand-dark);
  outline: solid;
  outline-color: currentcolor;
  outline-width: medium;
  outline-width: 5px;
  outline-color: var(--brand-dark);
  outline-offset: 6px;
  object-fit: cover;
  object-position: 20%;
  border-radius: 50%;
  z-index: 2;
}

@media (max-width: 1000px) {
  .hero-img {
    min-width: 250px;
    min-height: 250px;
  }
}

.hero-text {
  display: flex;
  flex-direction: column;
}

.hero-greeting {
  color: var(--brand-dark);
  font-size: 1.8rem;

  span {
    display: inline-block;
  }

  @media (max-width: 1000px) {
    font-size: 1.3rem;
  }

  @media (min-width: 1001px) {
    h1 {
      margin-top: 0;
    }
  }
}

.bio-section {
  max-width: 44vw;
  background-color: var(--sub-main);
  color: var(--brand-dark);
  font-size: 1.2rem;
  padding: 30px;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  .bio-section {
    max-width: 90vw;
    font-size: 1rem;
  }
}