.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 101vh;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 5vh;
  margin-bottom: 10vh;
  color: white;
  text-wrap: balance;
  text-align: center;
  gap: 1.9rem;

  font-size: 1.1rem;

  a {
    color: white;
  }

  @media (max-width: 495px) {
    font-size: 0.9rem;
  }
}

.contact-heading {
  h1 {
    font-weight: 900;
    font-size: 3rem;
    text-shadow: 3px 3px var(--brand-highlight);
  }
}

.contact-body {
  display: flex;
  align-items: center;
  flex-direction: column;

  gap: 1rem;

  @media (max-width: 495px) {
    gap: 0.3rem;
  }
}

.contact-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.4rem;
  gap: 1.8rem;
}

.contact-email-info {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--brand-dark);
  padding: 0.4rem 0.8rem;

  h2 {
    margin: 0;
  }
}

.contact-sub {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact-resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;

  button {
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button:hover {
    background-color: var(--brand-highlight);
    color: white;
  }
}

.contact-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
}

.contact-links-list {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.contact-link {
  display: flex;
  align-items: center;
}
