.main {
  max-width: 1280px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.chip {
  background: var(--brand-highlight);
  padding: 0.2rem 0.8rem;
  border-radius: 100px;
  font-size: 0.8rem;
  color: white;
  width: fit-content;
}

.chip::selection {
  background: white;
  color: var(--brand-highlight);
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem 0.3rem;
}

.section-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh;
}

.section {
  width: 60vw;

  @media (max-width: 1000px) {
    width: 90vw;
  }
}

.section-title {
  font-size: 2.2rem;
}

.fill-white {
  filter: invert(100%) sepia(4%) saturate(1747%) hue-rotate(254deg)
    brightness(116%) contrast(100%);
}

.icon {
  width: 1.5rem;
  margin-right: .75rem;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  // padding: 1.2rem 2.4rem;
  // border: 1px solid white;
  background: white;
  color: var(--brand-main);
  border-radius: 4px;
}

a {
  color: var(--brand-dark);
}