@use "utils/colors";

.main {
  max-width: 1280px;  
  align-items: center;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100vw;
  height: 15vh;
  background-color: colors.$red-main;
  color: white;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0px 7px colors.$red-highlight, 0px 14px colors.$red-dark,
    0px 21px colors.$beige-main;

  .wipe {
    position: absolute;
    top: 0;
    left: 0;
    height: 20vh;
    width: 100%;
    background-color: colors.$beige-background;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  line-height: 2rem;
  margin-right: 2.5rem;
}

.name {
  font-weight: 900;
  font-size: 3.2rem;
  padding: 0.6rem 0;
}

.sentence {
  font-size: 1.7rem;
  span {
    display: inline-block;
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90vw;
  margin-top: 10vh;
}

@media (max-width: 800px) {
  .hero {
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-top: 5vh;
    margin-bottom: 20vh;
  }
}

.hero-img {
  width: 30vw;
  height: 30vw;
  outline: colors.$red-dark;
  outline: solid;
  outline-color: currentcolor;
  outline-width: medium;
  outline-width: 5px;
  outline-color: colors.$red-dark;
  outline-offset: 6px;
  object-fit: cover;
  object-position: 20%;
  border-radius: 50%;
  z-index: 2;
}

@media (max-width: 800px) {
  .hero-img { 
    width: 50vw;
    height: 50vw;
  }
}

.bio-section {
  background-color: colors.$beige-main;
  color: colors.$red-dark;
  font-size: 1.2rem;
  padding: 30px;
  min-height: 20vh;
  max-width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .bio-section { 
    max-width: 80vw;
  }
}