@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --red-main: #d84040;
  --red-highlight: #ff0b55;
  --red-dark: #a31d1d;
  --beige-main: #ecdcbf;
  --beige-background: #f8f2de;
  --teal: #1dcd9f;
  --white: #fff;

  font-family: "Libre Franklin", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--beige-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


*::selection {
  background: var(--red-highlight);
  color: white;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  // padding: 2rem;
  // text-align: center;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}
